JWT_SECRET=food_ordering_secret_key_2024

RAZORPAY_KEY_ID=rzp_test_T6HoG7YgxxQPuP
RAZORPAY_KEY_SECRET=MG5sifU1nLhvEMbQL1W2N6w3

FRONTEND_URL=http://localhost:5173
NODE_ENV=development
GOOGLE_CLIENT_ID=your_google_client_id_here

NODE_ENV=development

ADMIN_EMAIL=admin@akio.com
ADMIN_PASSWORD=Admin@123

CLOUDINARY_CLOUD_NAME=djn5jgghc
CLOUDINARY_API_KEY=929492218676688
CLOUDINARY_API_SECRET=vRv4fLU0iXeHFEQwMHIL5fIA90Y

RAZORPAY_WEBHOOK_SECRET=your_webhook_secret_here